.showhide-hidden {
    display: none !important;
}

.showhide-open {
    display: block !important;
}

.showhide-active {

}

.showhide-autoheight {
    transition: height 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    overflow: hidden;
}

    .showhide-autoheight > div {
        -webkit-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }